$gradient-sea: linear-gradient(135deg, #79f1a4 10%, #0e5cad 100%);
$gradient-toxic: linear-gradient(135deg, #f0ff00 10%, #3cd500 100%);
$gradient-sunset: linear-gradient(135deg, #3813c2 20%, #fd6585 100%);
$gradient-afterparty: linear-gradient(135deg, #000dff 10%, #ff00f2 90%);
